# Исключить папку node_modules
node_modules

# Исключить временные файлы и логи
npm-debug.log
*.log

# Исключить файлы и папки, связанные с IDE или редакторами
.DS_Store
.vscode/
.idea/

# Исключить файл блокировки
package-lock.json

# Исключить файлы конфигурации и документации
README.md
*.tmp
*.bak

# Исключить папку uploads, если она не нужна в образе
uploads/

# Исключить все другие временные файлы
*.tmp