<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <% if (process.env.NODE_ENV === 'production') { %>
        <link rel="stylesheet" href="/css/dist/style.css">
    <% } else { %>
        <link rel="stylesheet" href="/css/style.css">
    <% } %>

    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Sacramento&family=Lobster&family=Dancing+Script&family=Great+Vibes&family=Cookie&family=Quicksand&family=Satisfy&family=Merienda&family=Berkshire+Swash&display=swap" rel="stylesheet">
    <title>Ksiegarnia</title>
</head>
<body>
    <%- include('blocks/header.ejs') -%>

    

    <div class="container">

        
        <div class="notification" style="background-image: url('https://avatars.mds.yandex.net/i?id=2649a7963ec13448977e380411df4d3a39380e2c-9856775-images-thumbs&n=13'); color:rgb(206, 206, 206); font-size: 20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;"> 
            <p class="berkshire-swash" style="color:rgb(206, 206, 206); font-size: 25px;">Czas świątecznych prezentów! Znajdź inspiracje wśród naszych propozycji.</p>
        </div> 

        <div class="row" >
            <div class="col-md-3" style="text-align: center;">
                <h5 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold; font-size: 25px;">Top Książki</h5>
                <ul class="category-list">
                    <li class="berkshire-swash-first filter-btn" id="views-filter" data-url="/books/postBooksByViews">TOP 100</li>
                    <li class="berkshire-swash-first">Nowości</li>
                    <li class="berkshire-swash-first filter-btn" id="price-filter" data-url="/books/postBooksByPrice">Najniższe Ceny</li>
                    <li class="berkshire-swash-first filter-btn" id="superprice-filter" data-url="/books/postBooksBySuperprice">Super ceny</li>
                </ul>
            </div>

            <div class="col-md-9" >
                <div class="event-carousel" >
                    <div class="event-item" >
                        <img class="img-akcja" src="https://cdn.swiatksiazki.pl/media/sliders/slide/images//z/n/znak241211_sg.jpg" >
                    </div>
                    <div class="event-item" >
                        <img class="img-akcja" src="https://cdn.swiatksiazki.pl/media/sliders/slide/images//a/l/albatros4_sg.jpg" >
                    </div>
                    <div class="event-item" >
                        <img class="img-akcja" src="https://cdn.swiatksiazki.pl/media/sliders/slide/images//g/w/gwiazdka241210_sg.jpg" >
                    </div>
                </div>
            </div>


        </div>
        

        <div class="separator">
            <h2><span style="font-family: Georgia, 'Times New Roman', Times, serif;">Najlepsze książki - Bestsellery 2025</span></h2>
        </div>

        <div class="row">
            <div class="col-md-3 category-container" style="text-align: center;">
                <h5 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold; ">Kategoria</h5>
                <ul id="category-filter" class="berkshire-swash" >

                </ul>
            </div>

            <div class="col-md-9">
                <div class="row" id="books-container" data-wishlist='<%- wishlistJson %>'>
                    <% books.forEach(book => { %>
                        <div class="col-md-4 mb-4">
                            <%- booksCard(book, wishlist) %>
                        </div>
                    <% }) %>
                </div>
            </div>

        </div>
    </div>
    <% if (process.env.NODE_ENV === 'production') { %>
        <script src="/js/dist/app.js" type="module"></script>

    <% } else { %>
        <script src="/js/app.js" type="module"></script>

    <% } %>
    <%- include('blocks/footer.ejs') -%>
</body>
</html>