<!doctype html>
<html lang="pl">
  <head>
    <title>Zalogowanie</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            height: 100%; 
            margin: 0; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            background-color: #979696; 
        }
        .conainer {
            width: 50%;
            margin-top: 100px;
            padding: 20px; 
            border-radius: 5px; 
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
            background-color: rgba(255, 255, 255, 0.308); 
        }
    </style>
  </head>
  <body>
    
    <div class="conainer">
        <form id="authForm" method="post" action="/auth/login">
            <h3 style="text-align: center;">Zalogowanie</h3>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" >Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checkbox">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            
        </form>
        
    </div>
  </body>
</html>