#head_text {
    background: linear-gradient(to right, rgb(146, 149, 155), rgb(206, 206, 206));
    transition: transform 0.3s ease;
    
    -webkit-background-clip: text; /* Применение градиента к тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
    text-fill-color: transparent; 
}

#head_text2 {
    border: 0;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(206, 206, 206), rgb(146, 149, 155));
}

#head_text:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, rgb(206, 206, 206), rgb(146, 149, 155));
    -webkit-background-clip: text; /* Применение градиента к тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
    text-fill-color: transparent; 
}

#start_items {
    transition: transform 0.3s ease;
}

#start_items:hover {
    transform: scale(1.04);
}

body {
    background: linear-gradient(to right, rgb(206, 206, 206), rgb(146, 149, 155));
}

.regestration {
    background: linear-gradient(to right, rgb(206, 206, 206), rgb(146, 149, 155));

    -webkit-background-clip: text; /* Применение градиента к тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
    text-fill-color: transparent;
}


.card {
    position: relative; /* Чтобы сердечко позиционировалось относительно карточки */
    max-width: 325px;
    max-height: 600px;
    margin: 10px auto; 
    text-align: center; 
    border-radius: 5px;
    background-color: rgba(245, 222, 179, 0);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);

}

.card-title {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
}

.card-author {
    font-size: medium; 
    font-family: 'Courier New', Courier, monospace;
}

.card-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-overflow: ellipsis; /* добавить многоточие */
    display: -webkit-box; /* Для поддержки многоточия */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    -webkit-line-clamp: 3; /* Количество строк */
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Добавить многоточие */
}

.card-discription {
    font-size: large;
}

.a_link_ksiezka {
    color: inherit;
    text-decoration: none;

}

.a_link_ksiezka:hover {
    color: inherit;
    text-decoration: none;
}


.navbar {
    text-align: center;
    gap: 0px;
}


.container_header {
    max-width: 100%; 
    max-height: 100%;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgb(0, 0, 0);
    
}


.container {    
    max-width: 85%; 
    max-height: 100%;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgba(167, 181, 195, 0.356);
    box-shadow: 0 0 10px rgb(23, 3, 18);
}

.container_footer {
    max-width: 100%; 
    max-height: 100%;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgb(0, 0, 0);
    
}

.footer-p {
    background: linear-gradient(to right, rgb(206, 206, 206), rgb(146, 149, 155));
    -webkit-background-clip: text; /* Применение градиента к тексту */
    -webkit-text-fill-color: transparent;
    
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: none;
}

.card-group-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-group-footer-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 170px;
    background-color: rgb(0, 0, 0);
    
}

.img {
    max-width: 50%;
    max-height: 70%;
    margin: 0 auto
}

#btn_footer {
    background-color: bisque; 
    color: rgb(55, 12, 182);
    border: 0cap;
    box-shadow: none;
    transition: background-color 0.3s ease;
}
#btn_footer:hover {
    background-color: white;
}

.berkshire-swash { font-family: 'Berkshire Swash', cursive; }

.berkshire-swash-first { font-family: 'Berkshire Swash', cursive; }
        
        .glow-on-hover {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, rgb(206, 206, 206), rgb(146, 149, 155), rgb(124, 124, 124), rgb(102, 102, 102));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.search-container {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 30px;
}

#search {
    margin-left: 120px;
    max-width: 1000px;
    max-height: 50px;
}

input[type="text"] {
    padding: 10px;
    width: 1220px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.author-list {
    align-items: center;
    text-align: center;
}

.author {
    background-color: aliceblue;
    height: 35px;
    border: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(23, 3, 18);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.book {
    background-color: aliceblue;
    height: 35px;
    border: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(23, 3, 18);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.category-container {
    max-width: 250px; /* Максимальная ширина контейнера */
}

/* Стили для списка категорий */
.category-list {
    list-style-type: disc; /* Точки перед элементами */
    padding-left: 20px; /* Отступ слева */
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0; /* Отступ сверху и снизу */
}

.separator::before,
.separator::after {
    content: "";
    flex: 1; /* Заполняет оставшееся пространство */
    border-bottom: 1px solid #000000; /* Горизонтальная линия */
    margin: 0 10px; /* Отступы между линией и текстом */
}

.separator span {
    padding: 0 10px; /* Отступы вокруг текста */
    font-weight: bold; /* Жирный текст */
    color: #333; /* Цвет текста */
}


.notification {
    background-color: #f8d7da; /* Цвет фона уведомления */
    color: #721c24; /* Цвет текста */
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Стили для списка категорий */
.category-list {
    list-style: none;
    padding: 0;
}

.category-list li {
    margin: 10px 0;
    cursor: pointer;
}

/* Стили для карусели событий */
.event-carousel {
    position: relative;
    overflow: hidden;
}

.event-item {
    display: none;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%); 
    height: 365px; 
    width: 1085px;
}

.img-akcja {
    display: block; 
    max-width: 100%; 
    height: auto;
}

.event-item.active {
    display: flex;
}


/* css for ksiezki */

/* css for heart */

.wishlist-icon {
    position: absolute;
    top: 20px; /* Расположите сердечко в нужном месте */
    right: 17px; /* Расположите сердечко в нужном месте */
    display: none; /* Скрываем по умолчанию */
    cursor: pointer; /* Указываем, что элемент кликабельный */
    width: 33.33px;  /* 100px / 3 */
    height: 30px;    /* 90px / 3 */
}

.card:hover .wishlist-icon {
    display: block; /* Показываем сердечко при наведении */
}

.wishlist-icon:before, .wishlist-icon:after { 
    position: absolute; 
    content: ""; 
    left: 16.67px;   /* 50px / 3 */
    top: 0; 
    width: 16.67px;  /* 50px / 3 */
    height: 26.67px; /* 80px / 3 */
    background: gray; 
    border-radius: 16.67px 16.67px 0 0; /* 50px / 3 */
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

.wishlist-icon:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}
.filled:before, .filled:after { 
    position: absolute; 
    content: ""; 
    left: 16.67px;   /* 50px / 3 */
    top: 0; 
    width: 16.67px;  /* 50px / 3 */
    height: 26.67px; /* 80px / 3 */
    background: red; 
    border-radius: 16.67px 16.67px 0 0; /* 50px / 3 */
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
}
.filled:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%;
}

.berkshire-swash li {
    cursor: pointer; /* Устанавливаем курсор в виде стрелки при наведении */
    transition: transform 0.3s ease; /* Плавный переход для изменения размера */
}

.berkshire-swash li:hover {
    animation: sstorm 0.7s ease-in-out both;
}

.berkshire-swash-first {
    animation: sstorm 0.7s ease-in-out both;
}

@keyframes sstorm {
0% {
transform: scale(1.1)
translate3d(0, 0, 0)
translateZ(0);
}
25% {
transform: scale(1.1); /* Начальный размер увеличенный */
transform: translate3d(4px, 0, 0) translateZ(0);
}
50% {
transform: scale(1.1); /* Начальный размер увеличенный */
transform: translate3d(-3px, 0, 0) translateZ(0);
}
75% {
transform: scale(1.1); /* Начальный размер увеличенный */
transform: translate3d(2px, 0, 0) translateZ(0);
}
100% {
transform: scale(1.1)
translate3d(0, 0, 0)
translateZ(0);
}
}

.container_book {
    display: flex;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
    background-color: rgba(167, 181, 195, 0.356);
    box-shadow: 0 0 10px rgb(23, 3, 18);
}

.img_book {
    max-width: 100%;
    height: auto;
}

.flex-container_book {
    display: flex;
    align-items: center;
}

.container_book {
    position: relative;
    margin-top: 20px;   
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Выравнивание по верхнему краю */
}
.book-image {
    margin-left: 50px;
    width: 400px; /* Установите нужный размер изображения */
    height: auto;
    border-radius: 10px;
}

.book-info {
    margin-left: 180px; /* Отступ слева */
}

.card-price {
    position: absolute; 
    top: 10px; 
    background: linear-gradient(to right, rgb(118, 157, 235), rgb(105, 172, 199));
    padding: 5px; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#del {
    text-decoration-thickness: 2px;
}

.card-superprice {
    position: absolute; 
    color: white;
    top: 50px; 
    background: linear-gradient(to right, rgb(151, 48, 48), rgb(161, 31, 31));
    padding: 5px; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.image-overlay-blue {
    position: absolute;
    height: 42px;
    width: 137px;
    top: 42px; 
    left: 0;
    background: linear-gradient(to right, rgb(118, 157, 235), rgb(105, 172, 199));
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.image-overlay-red {
    position: absolute;
    height: 42px;
    width: 137px;
    top: 90px; 
    left: 0;
    color: white;
    background: linear-gradient(to right, rgb(151, 48, 48), rgb(161, 31, 31));
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.btn-koszyk {
position: relative;
outline: none;
text-decoration: none;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
text-transform: uppercase;
height: 60px;
width: 610px;
opacity: 1;
background-color: #855600;
border: 1px solid rgb(189, 189, 189);
}
.btn-koszyk span {
color: #ffffff;
font-size: 12px;
font-weight: 500;
letter-spacing: 0.7px;
}
.btn-koszyk:hover {
animation: rotate 0.7s ease-in-out both;
}
.btn-koszyk:hover span {
animation: storm 0.7s ease-in-out both;
animation-delay: 0.06s;
}

@keyframes rotate {
0% {
transform: rotate(0deg) translate3d(0, 0, 0);
}
25% {
transform: rotate(3deg) translate3d(0, 0, 0);
}
50% {
transform: rotate(-3deg) translate3d(0, 0, 0);
}
75% {
transform: rotate(1deg) translate3d(0, 0, 0);
}
100% {
transform: rotate(0deg) translate3d(0, 0, 0);
}
}
@keyframes storm {
0% {
transform: translate3d(0, 0, 0) translateZ(0);
}
25% {
transform: translate3d(4px, 0, 0) translateZ(0);
}
50% {
transform: translate3d(-3px, 0, 0) translateZ(0);
}
75% {
transform: translate3d(2px, 0, 0) translateZ(0);
}
100% {
transform: translate3d(0, 0, 0) translateZ(0);
}
}

.koszyk {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

.koszyk:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: inherit;
    animation: rotate 0.7s ease-in-out both;
}

.koszyk:hover h1 {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

.link-container {
    display: flex;
    justify-content: center; /* Центрируем ссылки */
    margin-top: 10px; /* Отступ сверху */
}

.link-container a {
    margin: 0 15px; /* Отступы между ссылками */
    text-decoration: none; /* Убираем подчеркивание */
    color: rgb(129, 75, 20); /* Цвет текста ссылок */
    font-weight: bold; /* Жирный шрифт */
}

.link-container a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

#user-name-header {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold; 
    background: linear-gradient(to right, rgb(146, 149, 155), rgb(206, 206, 206));

    -webkit-background-clip: text; /* Применение градиента к тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
    transition: 0.3s ease;
}

#user-name-header:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, rgb(206, 206, 206), rgb(146, 149, 155));
    -webkit-background-clip: text; /* Применение градиента к тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
}

/* работа с аватарами */

.avatar-container {
    width: 50px;        /* Ширина контейнера */
    height: 50px;       /* Высота контейнера */
    overflow: hidden;   /* Скрыть части изображения, выходящие за пределы контейнера */
    border-radius: 50%; /* Закругление углов для создания круга */
    margin-bottom: 20px;
}

#avatar-img {
    width: 100%;        /* Ширина изображения на 100% от контейнера */
    height: auto;       /* Автоматическая высота для сохранения пропорций */
}

.avatar-container2 {
    width: 200;        /* Ширина контейнера */
    height: 200;       /* Высота контейнера */
    overflow: hidden;   /* Скрыть части изображения, выходящие за пределы контейнера */
    border-radius: 0%; /* Закругление углов для создания круга */
    margin-bottom: 20px;
}

#avatar-img2 {
    width: 100px;        /* Ширина изображения на 100% от контейнера */
    height: auto;       /* Автоматическая высота для сохранения пропорций */
}

.avatar-container-header {
    width: 45px;        /* Ширина контейнера */
    height: 45px;       /* Высота контейнера */
    overflow: hidden;   /* Скрыть части изображения, выходящие за пределы контейнера */
    border-radius: 50%; /* Закругление углов для создания круга */
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 7px;
    transition: 0.3s ease;
}

#avatar-img-header {
    width: 100%;        /* Ширина изображения на 100% от контейнера */
    height: auto;       /* Автоматическая высота для сохранения пропорций */
}

.avatar-container-header:hover {
    transform: scale(1.2);
}

.animate {
    position: absolute;
    width: 50px; /* Уменьшаем размер книги для анимации */
    height: auto; /* Сохраняем пропорции */
    z-index: 1000;
    pointer-events: none; /* Убираем взаимодействие с элементом */
    transition: transform 1s ease, opacity 2s ease;
    opacity: 1;
}

/* для похожих книг */

.book-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: flex-start; /* Распределяет карточки равномерно по строке */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирует контейнер */
}

.book-card {
    flex: 0 1 calc(15% - 7px); /* Каждая карточка занимает 20% ширины минус отступы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для карточки */
    border-radius: 5px; /* Закругленные углы */
    margin-bottom: 20px; /* Отступ снизу между карточками */
    margin-right: 11px; /* Отступ справа между карточками */
    background-color: #fff; /* Цвет фона карточки */
    transition: transform 0.2s; /* Плавный переход для увеличения */
}

.hidden {
    display: none;
}

.book-card img {
    width: 139.5px; /* Изображение занимает всю ширину карточки */
    height: auto; /* Высота изображения автоматически */
    
}

.book-card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
}

.arrow-button {
    margin-top: 20px; /* Отступ сверху для кнопки */
    padding: 10px 20px; /* Отступы для кнопки */
    font-size: 18px; /* Размер шрифта */
    cursor: pointer; /* Указатель курсора при наведении */
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
}

#similar-books {
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #333; /* Цвет текста */
}

/* for progile.ejs */

.container-profile {
    display: flex;
    max-width: 85%; 
    max-height: 100%;
}

.settings {
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.settings h2 {
    margin-bottom: 10px;
}

.settings ul {
    list-style: none;
    padding: 0;
}

.settings-btn {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 10px 0;
}

.settings-btn:hover {
    background-color: #f0f0f0;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex; /* Изменено для размещения секций горизонтально */
    flex-direction: column; /* Размещаем элементы по вертикали */
}

.content-section {
    display: none; /* Скрываем все секции по умолчанию */
    margin-top: 20px; /* Добавляем отступ сверху */
}

.content-section h2 {
    margin-top: 0;
}

.content-section form {
    margin-bottom: 20px;

}

#profile {
    display: flex;
    align-items: center; /* Центрирование по горизонтали */
    max-width: 1000px; /* Максимальная ширина секции */
    margin: 0 auto; /* Центрирование секции на странице */
    padding: 20px; /* Отступы внутри секции */
}

#profile h2 {
    margin-bottom: 20px;
    text-align: center;
}

#profile form label {
    display: block;
    margin-bottom: 5px;
}

#profile form input {
    width: 700px;
    padding: 5px;
    margin-bottom: 10px;
}

#avatar-btn {
    margin-top: 10px;
}

#update-btn {
    margin-top: 10px;
}

#logout0 {
    margin-bottom: 25px;
}


/* CSS */

.button-64 {
align-items: center;
background-image: linear-gradient(144deg, rgb(49, 49, 49), rgb(12, 11, 11),rgb(49, 49, 49));
border: 0;
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
box-sizing: border-box;
color: #FFFFFF;
display: flex;
font-family: Phantomsans, sans-serif;
font-size: 15px;
justify-content: center;
line-height: 1em;
width: 122px;
height: 30px;
padding: 3px;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
cursor: pointer;
}

.button-64:active,
.button-64:hover {
outline: 0;
}

.button-64 span {
background-color: rgb(255, 255, 255);
color: #000000;
padding: 16px 24px;
border-radius: 6px;
width: 122px;
height: 30px;
transition: 300ms;
display: flex;
justify-content: center;
align-items: center;
}

.button-64:hover span {
background: none;
color: #ccc;
}

@media (min-width: 122px) {
.button-64 {
font-size: 15px;
min-width: 122px;
}
}
