<footer>

    <div class="container_footer">
    
    <div class="card-group-footer">
    
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    
    <div class="btn-group me-2" role="group" aria-label="First group">
    
    <button type="button" class="btn btn-primary" id="btn_footer">1</button>
    
    <button type="button" class="btn btn-primary" id="btn_footer">2</button>
    
    <button type="button" class="btn btn-primary" id="btn_footer">3</button>
    
    <button type="button" class="btn btn-primary" id="btn_footer">4</button>
    
    </div>
    
    <div class="btn-group me-2" role="group" aria-label="Second group">
    
    <button type="button" class="btn btn-secondary">5</button>
    
    <button type="button" class="btn btn-secondary">6</button>
    
    <button type="button" class="btn btn-secondary">7</button>
    
    </div>
    
    <div class="btn-group" role="group" aria-label="Third group">
    
    <button type="button" class="btn btn-info">8</button>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    <div class="card-group-footer-2">
    
    <p style="color: rgb(22, 1, 117);"> TELEFON: +48452009096 </p>
    
    <p style="color: rgb(22, 1, 117);"> Instargam: <a>@KSIĘGARNIA.pl</a></p>
    
    <p style="color: rgb(22, 1, 117);"> Telegram KSIĘGARNI</p>
    
    <p style="color: rgb(22, 1, 117);"> Opinie Klientów</p>
    
    </div>
    
    </div>
    
    </footer>