<footer>

    <div class="container_footer">
    
    <div class="card-group-footer">
    
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    
    <div class="btn-group me-2" role="group" aria-label="First group">
    
    <a href="/"><button id="first-btn" class="glow-on-hover" type="button">1</button></a>
    
    <a href="/"><button class="glow-on-hover" type="button">2</button></a>

    <a href="/"><button class="glow-on-hover" type="button">3</button></a>
    
    <a href="/"><button class="glow-on-hover" type="button">4</button></a>
    
    <a href="/"><button class="glow-on-hover" type="button">5</button></a>
    
    <a href="/"><button class="glow-on-hover" type="button">6</button></a>
    
    <a href="/"><button class="glow-on-hover" type="button">7</button></a>
    
    <a href="/"><button class="glow-on-hover" type="button">8</button></a>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    <div class="card-group-footer-2">
    
    <p  class="footer-p"> TELEFON: +48452009096 </p>
    
    <p  class="footer-p"> Instargam: <a>@KSIĘGARNIA.pl</a></p>
    
    <p  class="footer-p"> Telegram KSIĘGARNI</p>
    
    <p  class="footer-p"> Opinie Klientów</p>
    
    </div>
    
    </div>
    
    </footer>