<header >
    <div class="container_header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <h1 aria-setsize="1000px" id="head_text"> 
                <a href="/">KSIĘGARNIA</a>
            </h1>
            <h7 id="head_text2"> dla Wszyscych</h7>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item" id="start_items">  
                        <h5><a style="color: rgb(129, 75, 20);" class="nav-link active" aria-current="page" href="/">Home</a></h5>
                    </li>
                    <li class="nav-item" id="start_items">
                        <h5><a style="color: rgb(129, 75, 20);" class="nav-link" href="/header/autors.html">Autors</a></h5>
                    </li>
                    <li class="nav-item" id="start_items">
                        <h5><a style="color: rgb(129, 75, 20);" class="nav-link" href="/header/books.html">Books</a></h5>
                    </li>
                    <li class="nav-item dropdown" id="start_items">
                        <h5><a style="color: rgb(129, 75, 20);" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dop.Information
                        </a></h5>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="ml-auto"> <!-- Добавлено для выравнивания вправо -->
                    <h5 class="regestration">
                        <a class="logowanie" href="/zalogowanie">Zalogować</a>
                    </h5>
                    <h5 class="regestration">
                        <a style="color: rgb(146, 149, 155);" class="logowanie" href="/zarejestrowanie">Zarejestrować się</a>
                    </h5>
                </div>
            </div>
        </nav>
    </div>
</header>